.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.text {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    background-color: #fafafa;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: #007bff;
    border-bottom: 10px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.back {
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back:hover {
    color: #0056b3;
}

/* Alert custom */
.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
}

.alert-custom {
    border-radius: 10px;
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-button-container {
    text-align: center;
}

.alert-button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.alert-button:hover {
    background-color: #218838;
}